@font-face {
  font-family:'Paprika';
  src: url(../fonts/VT323-Regular.ttf);
}
body{
	background-color:#f2f0ed;
	font-family:cursive;
}
* {
	margin: 0px;
	padding:0px;
	box-sizing:border-box;
}
.cleaner{
	clear:both;
}
.okvir{
	margin:0px auto;
}
#header{
	width:90%;
}
	/*SVE NA BGSLICI*/
#bgslika{
	background-image:url("../img/bgslika.jpg");
	background-repeat:no-repeat;
	min-height:700px;
	background-size:cover;
	margin-bottom:20px;
}
#logo{
	float:left;
	margin-top:15px;
}
#logo img{
	width:175px;
	padding-top:10%;
	padding-left:10%;
}
/*navigacija*/
#nav{
	float:left;
	margin-top:60px;
	margin-left:70px;
	font-family:Paprika;
	font-size:50px;	
}
#nav ul{
	list-style-type:none;
	background: rgb(51, 51, 51,0.6); /**#f28b24**/
    margin: auto;
    padding: 0; 
    position: relative;
    margin-bottom: 20px;
}
#nav ul li{
	display:inline;
	margin-right:3px;
	margin-left:3px;
	line-height:40px;
}
#nav ul li a{
	text-decoration:none;
	color:#fff;
	font-size:30px;
}
#nav ul li a#active{
	color: #FFFFFF;
	text-shadow: 0 -3px 8px #FFF, 0 -4px 15px #ff0, 0 -12px 25px #ff8000, 0 -18px 40px #F00;
	border-radius:2px solid #000;
	
}
#nav ul li a:hover #active{
	text-decoration:none;
	font-size:30px;
}
#nav ul li a:hover{
	color: #FFFFFF;
	text-shadow: 0 -3px 8px #FFF, 0 -4px 15px #ff0, 0 -12px 25px #ff8000, 0 -18px 40px #F00;
	border-radius:2px solid #000;
}
/* text na background slici*/
#sredina {
	width:80%;
	text-align:center;
}
#sredina h1{
	text-align:center;
	margin-top:130px;
	font-size:50px;
	margin-bottom:30px;
	color:#000;
	font-family:Papyrus;
	border-radius:10px;
	text-shadow: 0 0 20px rgba(242, 101, 0,.5), 0 0 10px rgba(255,255,255,.5);
	font-weight:800px;
	
}
#sredina a{
	color:#fff;
	text-decoration:none;
	font-size:45px;
	border:1px solid #c2c2c2;
	padding:5px;
	background:#f28b24;
	font-family:cursive;
	border-radius:10px;
}
#sredina a:hover{
	color:#fff;
	background-color:#fc6203 ;
	border-radius:2px solid #000;
}
/*index strana "sta je paintball"*/
#kocka{
	width:80%;
	margin-top:50px;
	margin-bottom:50px;
}
#levastrana{
	float:left;
	margin-top:15px;
	width:50%;
}
#levastrana h2{
	color:#f28b24;
	font-size:30px;
	margin-bottom:15px;
	margin-top:15px;
	font-family:cursive;
}
#levastrana h2:hover{
	color:#fc6203;
	border-radius:2px solid #000;
	cursor:pointer;
}
#levastrana p{
	font-size:16px;
	font-family:cursive;
	margin-bottom:30px;
} 
#levastrana a {
	color:#fff;
	text-decoration:none;
	font-size:30px;
	border:1px solid #c2c2c2;
	border-radius:10px;
	padding:5px;
	margin-left:140px;
	background:#f28b24;
	font-family:cursive;
}
#levastrana a:hover{
	color:#fff;
	background-color:#fc6203;
	border-radius:2px solid #000;
}
#desnastrana{
	margin-top:50px;
	margin-bottom:30px;
	width:45%;
	float:right;
}
#desnastrana img{
	height:400px;
	border-radius:10px;
}
/*index strana o rodjendanu*/
#drzac {
	width:80%;
	margin-top:50px;
	margin-bottom:50px;
}
#drzaclevo {
	float:left;
	width:50%;
}
#drzaclevo img{
	background-image:url("../img/rodjendan.jpg");
	float:left;
	width:380px;
	border-radius:10px;
}
#drzacdesno{
	float:right;
	margin-top:15px;
	width:50%;
}
#drzacdesno h3{
	font-size:25px;
	color:#f28b24;
	font-family:cursive;
	width:100%;
	text-align:center;
}
#drzacdesno h3:hover{
	color:#fc6203;
	border-radius:2px solid #000;
	cursor:pointer;
}
#drzacdesno p{
	font-size:16px;
	margin-bottom:40px;
	font-family:cursive;
	
}
#drzacdesno a {
	color:#fff;
	text-decoration:none;
	font-size:30px;
	border:1px solid #c2c2c2;
	border-radius:10px;
	margin-left:150px;
	padding:5px;
	background:#f28b24;
	font-family:cursive;
}
#drzacdesno a:hover{
	color:#fff;
	background-color:#fc6203;
	border-radius:2px solid #000;
}
			/*CENE*/
#naslov{
	width:65%;
}
#naslov h3{
	font-size:25px;
	margin-left:140px;
	color:#f28b24;
	font-family:cursive;
}
#naslov h3:hover{
	color:#fc6203;
	border-radius:2px solid #000;
	cursor:pointer;
}
#red{
	width:80%;
}
#red{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom:40px;
	margin-top:40px;
	border:1px solid #f28b24;
	border-radius:10px;
	padding:10px;
}
#red .blok img{
	width:200px;
	border-radius:10px;
}
#red .blok img:hover{
	  border:3px solid orange;   
}
}
#red .blok{
	width:20%;
}
#red .blok h3:hover{
	color:#fc6203;
	border-radius:2px solid #000;
	cursor:pointer;
}
#red .blok h3{
	font-size:25px;
	color:#f28b24;
	font-family:cursive;
	margin-top:20px;
}
#red .blok p{
	font-size:16px;
	font-family:cursive;
	list-style-type:none;
	padding:3px;
	margin-top:10px;
	word-wrap:break-word;
}
#red .blok a{
	color:#fff;
	text-decoration:none;
	font-size:20px;
	border:1px solid #c2c2c2;
	border-radius:10px;
	background:#f28b24;
	font-family:cursive;
	padding:5px;
	float:right;
}
#red .blok a:hover{
	color:#fff;
	background-color:#fc6203;
	border-radius:2px solid #000;
}
		/*FUTER*/
footer {
	background-image: linear-gradient(#000000, #020024);
	padding-top:20px;
	border-radius:10px;
	padding-bottom:30px;
}
footer #centar{
	width:80%;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
footer #centar .text{
	width:45%;
	margin-top:20px;
}
footer h3{
	color:#f28b24;
	text-align:center;
	font-size:25px;
}
footer h4{
	color:#f28b24;
	font-size:20px;
}
footer p{
	color:#fff;
	font-size:15px;
}
footer #saznaj{
	text-align:center;
	margin-top:40px;
}
footer #saznaj a{
	text-decoration:none;
	background-color:#f28b24;
	color:#fff;
	border-radius:10px;
	font-size:25px;
	padding:5px;
}
footer #saznaj a:hover{
	color:#fff;
	background-color:#fc6203;
	border-radius:2px solid #000;
}	
#donjideo{
	margin-top:40px;
}
#ufuter{
	width:80%;
	display:flex;
	justify-content:space-between;
	margin-top:20px;
}
#info{
	width:30%;
}
#info ul {
	list-style:none;
}
#info ul li{
	display:block;
}
#info ul li a{
	text-decoration:none;
	font-size:25px;
	color:#fff;
}
#info ul li a:hover{
	color:#fc6203;
}
#lokacija{
	width:30%;
	margin-left:10px;
}
#lokacija h5{
	font-size:25px;
	color:#fff;
	text-align:center;	
}
#lokacija p{
	font-size:20px;
}
#socijalne{
	width:30%;
	text-align:right;
}
#socijalne h6{
	font-size:20px;
	color:#fff;
}
#socijalne p{
	font-size:20px;
}
#socijalne a{
	font-size:20px;
	color:#fc6203;
}
#socijalne ul{
	list-style:none;
	margin-top:10px;
}
#socijalne #telefon {
	font-size:20px;
	color:#fff;
	margin-right:10px;
}
#socijalne #br:hover{
	color:#fc6203;
}
#socijalne ul li{
	display:inline;
	margin-left:20px;
}
#socijalne a{
	text-decoration:none;
	color:#fff;
}
#socijalne ul li a{
	font-size:30px;
}
#copyright{
	text-align:center;
	margin-top:20px;
}
#copyright p{
	font-size:20px;
}
/* GALERIJA*/
#galerija{
	width:40%;
	margin-top:40px;
	margin-bottom:40px;
}
#galerija h3{
	font-size:25px;
	color:#f28b24;
	font-family:cursive;
	text-align:center;
}
#galerija h3:hover{
	color:#fc6203;
	border-radius:2px solid #000;
	cursor:pointer;
}
#slajder{
	width:80%;
}
#slajder {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom:40px;
	margin-top:40px;
	padding:10px;
	border:1px solid #f28b24;
	border-radius:10px;
}
#slajder .block img{
	width:220px;
	border-radius:10px;
	padding:5px;
	margin-left:50px;
	margin-right:50px;
}
.slikagalerija {
	  width:300px;
      height:320px;	  		
}
#slajder .block img:hover{
	   border:3px solid orange;   
}

		/* KONTAKT STRANA*/

#kontakt h1{
	font-size:50px;
	margin-bottom:30px;
	color:#000;
	font-family:cursive;
	border-radius:10px;
}
#sve{
	width:100%;
}
#mape{
	width:80%;
	border:1px solid #f28b24;
	border-radius:40px;
	margin-bottom:40px;
	padding:20px;
}
#mape h2{
	font-size:25px;
	margin-left:190px;
	color:#f28b24;
	font-family:cursive;
}
#radnovreme h3{
	font-size:20px;
	font-family:cursive;
font-weight:bold;
}
#ponpet{
	padding:20px;
}
#radnovreme span{
	color:#f28b24;
}

#radnovreme p{
	font-family:cursive;
	font-weight:bold;
	margin-left:10px;
}
#kontaktinfo{	
	width:50%;
	float:left;
	border-right:3px solid #f28b24;
}
#kontaktinfo h3{
	font-size:20px;
	margin-left:30px;
	font-family:cursive;
	font-weight:bold;
}
#kontaktinfo a{
	text-decoration:none;
	font-size:20px;
	color:#fc6203;
}
/*TABELE I FORME U KONTAKT STRANI*/
#forme{
	width:40%;
	float:right;
}

#forme h3{
	font-weight:bold;
	color:#f28b24;
	font-family:cursive;
	
}
#forme form{
	width: 80%;
    margin: 30px auto;
}
#forme input{
	
	padding:10px;
	margin:10px;
	border:1px solid #fc6203;
}
#forme input[type="submit"]{
	
	border-radius:25%;
	background-color:#fc6203;
	border:1px solid #fff;
	color:#fff;
}
#forme input[type="submit"]:hover{
	
	color:#fc6203;
	background-color:#fff;
	border:1px dashed #fc6203;
}

/*RODJENDANI*/
#naslovrodj{
	width:80%;
}
#naslovrodj h3{
	font-size:25px;
	margin-left:140px;
	color:#f28b24;
	font-family:cursive;
}
#naslovrodj h3:hover{
	color:#fc6203;
	border-radius:2px solid #000;
	cursor:pointer;
}
#naslovrodj p{
	font-size:20px;
	margin-bottom:40px;
	margin-top:20px;
	font-family:cursive;
	text-align:center;
}
#principigre{
	width:80%;
	margin-bottom:40px;
	display:flex;
}
#principlevo h2{
	font-size:25px;
	color:#f28b24;
	font-family:cursive;
	margin-top:20px;
}
#principlevo h2:hover{
	color:#fc6203;
	border-radius:2px solid #000;
	cursor:pointer;
}
#principlevo p{
	margin-top:20px;
	font-family:cursive;
	font-size:17px;
	padding:10px;
}
#principlevo b{
	color:#f28b24;
	font-family:cursive;
}
#principlevo{
	width:60%;
	float:left;
}
#principdesno{
	float:right;
    padding-top:10%;
}
#principdesno img{
	border-radius:10px;
	float:right;
}
#principdesno img:hover{
	border:3px solid orange;  
}
#red2{
	width:80%;
}
#red2{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom:40px;
	margin-top:40px;
	border:1px solid #f28b24;
	border-radius:10px;
	padding:20px;
}
#red2 .blok2 img{
	width:200px;
	border-radius:10px;
}
#red2 .blok2 img:hover{
	  border:3px solid orange;   
}
#red2 .blok2{
	width:20%;
}
#red2 .blok2 h3:hover{
	color:#fc6203;
	border-radius:2px solid #000;
	cursor:pointer;
}
#red2 .blok2 h3{
	font-size:25px;
	color:#f28b24;
	font-family:cursive;
	margin-top:20px;
}
#red2 .blok2 p{
	font-size:17px;
	font-family:cursive;
	list-style-type:none;
	padding:3px;
	margin-top:10px;
	word-wrap:break-word;
}
#red2 .blok2 a{
	color:#fff;
	text-decoration:none;
	font-size:20px;
	border:1px solid #c2c2c2;
	border-radius:10px;
	background:#f28b24;
	font-family:cursive;
	padding:5px;
	float:right;
}
#red2 .blok2 a:hover{
	color:#fff;
	background-color:#fc6203;
	border-radius:2px solid #000;
}
/**O AUTORU**/
#autor{
	width:80%;
}
#autor{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom:40px;
	margin-top:40px;
	border:1px solid #f28b24;
	border-radius:10px;
	padding:20px;
}
#autorlevo img{
	border-radius:10px;
	width:300px;
	height:380px;
}
#tekstdesno{
	width:60%;
}
#tekstdesno h1{
	font-size:30px;
	color:#f28b24;
	font-family:cursive;
	margin-top:20px;
}
#tekstdesno p{
	font-size:20px;
	font-family:cursive;
	padding:3px;
	margin-top:10px;
}
#tekstdesno h3{
	font-size:20px;
	font-family:cursive;
	font-weight:bold;
}
#tekstdesno a{
	text-decoration:none;
	font-size:20px;
	color:#fc6203;
}
#paintballopis{
	width:80%;
}
#paintballopis{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom:40px;
	margin-top:40px;
	border:1px solid #f28b24;
	border-radius:10px;
	padding:20px;
}
.opisleva h1{
	font-size:30px;
	text-align:center;
	color:#f28b24;
	font-family:cursive;
	margin-top:10px;
	margin-bottom:10px;
}
.opisleva h1:hover{
	color:#fc6203;
	border-radius:2px solid #000;
	cursor:pointer;
	
}
#video{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:220px;
}
.opisleva p{
	font-size:20px;
	font-family:cursive;
	text-align:center;
	padding:3px;
	margin-top:10px;
	margin-bottom:10px;
}
.paintballslika img{
	border-radius:10px;
	width:500px;
	height:650px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:280px;
}
.paintballslika img:hover{
	   border:3px solid orange;   
}